@media(min-width:768px) {
  div#site-logo {
    background-image: url('/img/logo.png');
  }
  .navbar-shrink div#site-logo {
    background-image: url('/img/logo-white.png');
  }
}

#site-logo {
  background-image: url('/img/logo-white.png');
  background-size: 219px 50px;
  height: 50px;
  width: 219px;
  margin-left: -15px;
  margin-top: -15px;
  -webkit-transition: all .8s;
  -moz-transition: all .8s;
  transition: all .8s;
}
