<table>
  <th>
    <td class="legal">
      Conditions of Use
    </td>
    <td class="basic">
      Basically,
    </td>
  </th>
  <tr>
    <td class="legal">
      If you decide to visit CoCitizen LLC websites, your visit and any possible dispute over privacy is subject to this Privacy Policy and our Terms of Use, including limitations on damages, arbitration of disputes, and application of Virginia law.
    </td>
    <td class="basic">
      Visiting CoCitizen LLC websites is subject to the Terms of Service and Privacy policy.
    </td>
  </tr>
</table>

